<!--Для отображения комментариев к статье-->
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    Пользователь <br>
    <%= form.text_field( :commenter, { :class => 'form form-control'} ) %>
  </p>

  <p>
    Комментарий <br>
    <%= form.text_area( :body, { :class => 'form form-control'} ) %>
  </p>

  <p>
    Статус:
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
  </p>

  <p>
    <%= form.submit( {:class => 'btn btn-success'} ) %>
    <%#= form.submit "Добавить комментарий" %>
  </p>
<% end %>


<%#= form_with model: [ @article, @article.comments.build ] do |form| %>
<!--  <p>-->
<!--    <%#= form.label :commenter %><br>-->
    <%#= form.text_field :commenter %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= form.label :body %><br>-->
    <%#= form.text_area :body %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= form.label :status %><br>-->
    <%#= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
<!--  </p>-->
<!--  <p>-->
    <%#= form.submit %>
<!--  </p>-->
<%# end %>