<h3><%= page_heading @article.title %></h3>

<p><%= @article.body %></p>

<%= link_to "Редактировать", edit_article_path(@article), class: 'btn btn-warning' %>
<% logger.tagged("show"){ logger.debug "Debug Article_controller, view: articles/show, link_to edit_article_path, #{@article.title}" }%>
<%= link_to  "Копировать",  copy_article_path(@article), class: 'btn btn-warning' %>
<%= link_to "Удалить", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Хотите удалить эту статью?" },
             class: 'btn btn-danger' %>

<hr>

<h4>Комментарии</h4>
<%= render @article.comments %>
<hr>

<h5>Добавить комментарий:</h5>
<%= render 'comments/form' %>